section {
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
    box-shadow: 5px 5px 5px lightgray;
    width: 200px;
    padding: 5px;
}
img {
    width: 100px;
}
#name {
    font-weight: bold;
    margin-bottom: 15px;
} 
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}
