<li *ngIf="pokemon">
    <section>
        <img [src]="getImageUrl(pokemon.url)" [alt]="pokemon.name"/>
        <div>
            <span id="name">{{ pokemon.name }}</span>
            <app-catch-button [pokemonName]="pokemon.name"></app-catch-button>
        </div>
    </section>
</li>
