<ng-container *ngIf="user !== undefined">
    <nav>
        <span id="logo">POKÉMON TRAINER</span>
            <div>
                <a routerLink="/catalogue">Pokemon list</a>
                <a routerLink="/trainer">Trainer page</a>
            </div>
    </nav>
</ng-container>