* {
    background: #FFDE00;
	position: sticky;
	top: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
}
#logo {
    color: #CC0000;
}
div {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #3B4CCA; 
    margin-left: 20px;
}
