fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #FFDE00;
    box-shadow: 2px 2px 3px gray;
    width: 290px;
    height: 100px;
    padding: 10px;
}

label {
    background-color: #FFDE00;
}

input {
    margin: 10px 0px;
}

button {
    background-color: #3B4CCA; 
    color:antiquewhite;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    height: 30px;
}
button:hover {
    background-color: #4053e4;
}
button:active {
    background-color: #3341ad;
}