
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset>
        <label for="username">What's your name? </label>
        <input type="text" 
            ngModel
            #username="ngModel"
            name="username" id="username" placeholder="Team rocket"/>
            <button type="submit">Login</button>
    </fieldset>
</form>