button {
    background-color: #CC0000;
    color:white;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: #dd0000;
}
button:active {
    background-color: darkred;
}
img {
    background: transparent;
    width: 20px;
    margin-left: 3px;
}