
<aside>
    <button (click)="onCatchClick()">
        <ng-container *ngIf="isCaught; then owned else notOwned "></ng-container>

    <ng-template #owned>
        Caught <img src="assets\pokeball.png" alt="pokeball"/>
    </ng-template>
    <ng-template #notOwned>
        Catch me!
    </ng-template>
    </button>    
</aside>
